In [14]:
import pandas as pd
import random

In [16]:
df = pd.read_excel('test.xlsx')
df

,202008,簡,類,假,平,1,2,3,4,5,...,22,23,24,25,26,27,28,29,30,31
0,NaN,NaN,NaN,NaN,NaN,v,v,NaN,NaN,NaN,...,v,v,NaN,NaN,NaN,NaN,NaN,v,v,NaN
1,李志謙,A,4.0,3.0,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,戴維安,B,4.0,3.0,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,吳嘉紘,C,4.0,3.0,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,郭昱,D,4.0,3.0,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN